:root {
  --basic-dark-blue: #293449;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-golden-tainoi: #FFBF47;
  --basic-spaces: #3BBCE3;
  --basic-lite-pink: #DC91D8;
  --basic-lite-green: #8ED78F;
  --basic-very-light-purple: #F1F5F7;
  --basic-very-dark-gray: #32425C;
  --basic-very-light-orange: #F9F5F0;
  --basic-very-dark-white: #FFFFFF;
  --basic-deep-carmine-pink: #EE3643;
  --basic-vey-dark-black: #000000;
  --basic-light-gray: #A9A9A9;
  --basic-light-orange: #FFD180;
}

/*global*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*hearder*/

.nav-site {
  list-style: none;
}

/*main*/

.offers-list {
  list-style:none;
}

.popular-goods-list {
  list-style: none;
}

.popular-brands-list {
  list-style: none;
}

.services-list {
  list-style: none;
}
/*footer*/

.footer-nav .menu {
  list-style: none;
}

.footer-nav .category-goods {
  list-style: none;
}

.social-list {
  list-style: none;
}
