:root {
  --basic-spaces: #3BBCE3;
  --basic-lite-pink: #DC91D8;
  --brown-600-rgba-05: rgba(255, 209, 128, 0.5);
  --white-900: #FFFFFF;
  --white-800: #F1F5F7;
  --white-700: #F9F5F0;
  --white-600: #F3F7F9;
  --white-500: #F4F4F4;
  --white-900-rgba-05: rgba(255, 255, 255, 0.5);
  --white-900-rgba-03: rgba(255, 255, 255, 0.3);
  --black-900: #000000;
  --black-800: #161D29;
  --black-700: #1D2739;
  --black-600: #293449;
  --black-500: #32425C;
  --black-900-rgba-03: rgba(0, 0, 0, 0.3);
  --basic-golden-tainoi: #FFBF47;
  --basic-light-orange: #FFD180;
  --gray-900: #A9A9A9;
  --gray-850-rgba-05: rgba(241, 245, 247, 0.5);
  --gray-800-rgba-03: rgba(197, 197, 197, 0.3);
  --gray-700-rgba-03: rgba(169, 169, 169, 0.3);
  --gray-800: #A9A9A9;
  --gray-700: #C5C5C5;
  --gray-600: #F7F3EC;
  --green-900: #63A63E;
  --green-800: #5FBB2D;
  --green-700: #8ED78F;
  --red-900: #BA2732;
  --red-800: #CA2C37;
  --red-700: #EE3643;
  --red-600: #EE3643;
}

/*global*/

.page {
  height: 100%;
}

.logo-main-header {
  display: flex;
  justify-content: center;
  width: 220px;
  min-height: 42px;
  background-color: var(--red-700);
  box-shadow: 0 5px 0 0 var(--red-900);
  position: relative;
}

.page-body {
  background-color: var(--white-900);
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
}

.content-center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clear-list {
  list-style: none;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

/*header*/

.header-main {
  background-color: var(--white-800);

  padding-bottom: 60px;
  margin-bottom: 93px;
}

.catalog-style-header {
  margin-bottom: 21px;
}

.header-top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--black-600);
  margin-bottom: 46px;
}

.user-info {
  width: 462px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
}

.header-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
}

.header-top a {
  color: var(--white-900);
}

.bookmarks:active,
.basket:active {
  color: var(--white-900-rgba-05);
  background-color: var(--black-800);
}

.make-oder {
  width: 150px;
  background-color: var(--green-900);
  min-height: inherit;
  text-align: center;
}

.make-oder:hover {
  background-color: var(--green-800);
}

.make-oder:active {
  color: var(--white-900-rgba-05);
}

/*header-info*/

.header-info {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 30px;
}

.about-shop-text {
  width: 197px;
  color: var(--red-600);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.contacts-phone {
  color: var(--red-600);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.contacts p {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.login-section {
  width: 272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-section a {
  font-size: 21px;
  line-height: 21px;
  color: var(--black-900);
}

.login-section a:hover {
  color: var(--red-700);
}

.login-section a:active {
  color: var(--gray-700);
}

.header-navigation {
  background-color: var(--black-500);
}

.nav-site {
  display: flex;
  justify-content: space-around;
}

.nav-site a {
  color: var(--white-900);
  font-size: 18px;
  line-height: 24px;
}

.nav-site-item a:hover {
  background-color: var(--black-600);
}

.nav-site-item a:active {
  background-color: var(--black-700);
  color: var(--white-900-rgba-05);
}

/*catalog*/
.cabinet-section a {
  font-size: 16px;
  line-height: 18px;
  color: var(--black-500);
}

/*main*/

.container h2 {
  color: var(--black-500);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.offers-day {
  color: var(--white-900);
  margin-bottom: 25px;
}

.offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.offers-item:first-child {
  background-color: var(--basic-golden-tainoi);
}

.offers-item:nth-child(2) {
  background-color: var(--basic-spaces);
}

.offers-item:nth-child(3) {
  background-color: var(--basic-lite-pink);
}

.offers-item:nth-child(4) {
  background-color: var(--green-700);
}

.offers-item:nth-child(5) {
  background-color: var(--basic-golden-tainoi);
}

.carousel-item {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.offers-item {
  width: 300px;
  height: 123px;
}

.offers-item a {
  background-color: var(--white-900-rgba-03);
}

.offers-item a:hover {
  background-color: var(--gray-800-rgba-03);
}

.offers-item a:active {
  background-color: var(--gray-700-rgba-03);
}

.offers-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.carousel-item {
  width: 620px;
  height: 266px;
  margin: 0;
}

.carousel {
  width: 620px;
  height: 266px;
  background-image: url("../img/main_slider_img.jpg");
  background-color: var(--gray-900);
  margin: 0px;
}

.carousel h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--white-900);
  margin: 0;
}

.carousel p {
  color: var(--white-900);
  font-size: 18px;
  line-height: 24px;
}

.goods {
  margin-bottom: 70px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
}

.goods-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.catalog-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.goods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}

.goods-link {
  width: 157px;
  color: var(--black-900);
  font-size: 18px;
  line-height: 20px;
}

.button-goods-item {
  color: var(--white-900);
  font-size: 17px;
  line-height: 18px;
}

.goods-item del {
  display: block;
  color: var(--gray-900);
  font-size: 17px;
  line-height: 18px;
}

.section-title {
  height: 89px;
  background-color: var(--white-700);
  margin-bottom: 20px;
  padding: 0 19px 0 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-brands {
  background-color: var(--white-700);
  margin-bottom: 20px;
}

.popular-brands-list {
  margin: 0 0 70px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.popular-brands-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}

.services {
  background-color: var(--white-800);
}

.container-services {
  display: flex;
  flex-wrap: wrap;

}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-item button {
  color: var(--white-900);
  background-color: var(--black-500);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.services-item button:hover {
  background-color: var(--black-600);
}

.services-item button:focus {
  color: var(--black-500);
  background-color: var(--white-900);
}

.services-content {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px 125px 125px;
}

.services-list {
  width: 300px;
}

.services-delivery {
  grid-column: -3 / -6;
  grid-row: 1 / 2;
  width: 300px;
  z-index: 1;
}

.services-info {
  padding-right: 62px;
}

.description-advantages {
  width: 460px;
}

.map-section {
  width: 300px;
}

.img-services {
  grid-column: -1 / -4;
  grid-row: 1 / 2;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 180px;
}

.description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.partner-list-item {
  color: var(--black-900);
  font-size: 18px;
  line-height: 24px;
}

/*catalog*/

.breadcrumbs {
  width: 464px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 20px 0;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--black-900);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-title {
  background-color: var(--white-800);
  margin: 0;
}

.sorting {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 28px 0;

  text-transform: uppercase;
  background-color: var(--gray-600);
}

.title-sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--black-900);
  font-size: 13px;
  line-height: 18px;
}

.sorting-list {
  width: 461px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sorting-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--black-900-rgba-03);
  font-size: 13px;
  line-height: 18px;
  border-bottom: var(--red-700);
}

.sorting-list a:hover {
  color: var(--black-900);
  text-decoration: underline;
}

.sorting-list a:active {
  color: var(--red-700);
  text-decoration: none;
}

.pagination-list {
  width: 284px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 59px 0;
}

.pagination-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--black-900);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.description {
  margin-bottom: 70px;
}

.info-descriptions-goods {
  background-color: var(--white-800);
  margin-bottom: 68px;
}

.info-descriptions-goods p {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--black-900);
  font-size: 13px;
  line-height: 24px;
}

/*footer*/

.main-footer {
  background-color: var(--black-500);
}

.contacts {
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-nav-menu {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-nav-contacts {
  width: 335px;
}

.footer-nav-contacts,
.footer-nav-phone {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: var(--white-600);
}

.footer-menu {
  display: flex;

  padding: 0;
  width: 560px;
}

.footer-menu-item:first-child {
  margin-left: 0;
}

.footer-menu-item {
  margin-left: 58px;
}

.footer-menu-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white-800);
}

.footer-menu-item a:hover {
  text-decoration: underline;
}

.footer-menu-item a:active {
  color: var(--gray-850-rgba-05);
  text-decoration: none;
}

.footer-category {
  display: flex;
  padding: 0;
  width: 539px;
}

.footer-category-item {
  margin-left: 58px;
}

.footer-category-item:first-child {
  margin-left: 0;
}

.footer-category-item a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-orange);
}

.footer-category-item a:hover {
  text-decoration: underline;
}

.footer-category-item a:active {
  color: var(--brown-600-rgba-05);
  text-decoration: none;
}

.bottom-footer {
  background-color: var(--black-600);
}

.bottom-footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-link-info {
  width: 297px;
  display: flex;
  justify-content: space-between;
}

.bottom-info {
  width: 227px;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-900);
}

.bottom-info-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--white-900);
}

.bottom-info-link a {
  color: var(--basic-light-orange);
}

.bottom-info-link a:hover {
  text-decoration: underline;
}

.bottom-info-link a:active {
  text-decoration: none;
  color: var(--red-900);
}

.social-list {
  display: flex;
}

.footer-modal-message {
  background-color: var(--white-500);
}

/*catalog*/

.modal-message-add-good {
  background-color: var(--white-900);
}

.modal-message-add-good p {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/*button*/

.button {
  height: 38px;
  line-height: 18px;
  font-size: 14px;
  color: var(--white-900);
  text-transform: uppercase;
  text-align: center;
}

.link-get-info {
  background-color: var(--red-600);
}

.link-get-info:hover {
  background-color: var(--red-800);
}

.link-get-info:active {
  background-color: var(--red-900);
}

.button-goods-item {
  width: 141px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--red-600);
}

.modal-button {
  background-color: var(--red-600);
}
